body {
          font-family:'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue';
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: #c0c0c0; 
}

.main {
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
            padding: 20px;
            width: 300px;
}
.main h2 {
            color: #EF5350;
            font-size: 22px;
            margin-bottom: 20px;
            text-align: center;
}

label {
            display: block;
            margin-bottom: 5px;
            color: #161616da;
            font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type=number],
select
     {
            width: 100%;
            margin-bottom: 15px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid  #c0c0c0;
            border-radius: 15px;
           
}
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
select:hover {
            border: 1px solid #F44336;
            transition: all .2s ease;

}
button[type="submit"] {
            padding: 15px;
            border-radius: 10px;
            border: none;
            background-color: #EF5350;
            color: white;
            cursor: pointer;
            width: 100%;
            transition: 0.50s;
            font-size: 16px;
} 
button[type=submit]:hover {
        background:yellowgreen;  
}